body{
    background-color: blueviolet;
}

h1{
    text-align: center;
    color: aqua;
    background-color: crimson;
}

h2{
    text-align: left;
    color: darkblue;
    background-color: burlywood;
}